{% extends 'tours/base.html' %}

{% block content %}
    <h1 class="display-5 mt-4">Летим {{ departure }}</h1>
    <p class="mb-4">Найдено {{ amount_tours }} туров, от {{ min_price }} до {{ max_price }} и от {{ min_nights }} ночей до {{ max_nights }} ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
      {% for id,tour in filtered_tours.items%}
      <div class="col-4">
        <div class="card mb-4">
          <img src="{{ tour.picture }}" class="card-img-top img-fluid" alt="">
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour.title }}</h2>
            <p class="card-text">{{ tour.description }}</p>
            <a href="/tour/{{ id }}" class="btn btn-sm btn-warning">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
{% endblock %}
